<!DOCTYPE html>
<html>

<head>
  <title>当日予約状況</title>
  <%- include("./common/stylesheets.ejs") %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% for (let i=0; i < (page); i++) { %>
        <section class="swiper-slide">
          <div class="waku">
            <table>
              <tr>
                <td>
                  <img src="/static/images/meeting.png" width="43" height="43" alt="meeting" />
                </td>
                <td width="380px">
                  <span class="title_1">本日の会議室一覧</span><br />
                  <span class="title_2">Meeting Room Information</span>
                </td>
                <td class="day_waku">
                  <span id="clock"></span>
                  2021/02/11 13:51
                </td>
              </tr>
            </table>
            <div>&nbsp;</div>
            <div class="waku_1">
              <table border="0" cellpadding="0" cellspacing="1" class="table_1">
                <tr>
                  <td class="item_1">ご予約者名</td>
                  <td class="item_1" width="140px">会議室</td>
                  <td class="item_1" width="130px">時間</td>
                </tr>
                <% addrow=i * 14; %>
                  <% for (let j=0; j < 14; j++) { %>
                    <% let cssname=(j % 2===0) ? 'item_2' :'item_3';%>
                      <tr>
                        <td class="<%= cssname %>">
                          <%= yoyakus[j + addrow].nm_disp %>
                        </td>
                        <td class="<%= cssname %>" width="140px">
                          <%= yoyakus[j + addrow].nm_room %>
                        </td>
                        <td class="<%= cssname %>" width="130px">
                          <%= yoyakus[j + addrow].time_riyou %>
                        </td>
                      </tr>
                      <% } %>
              </table>
            </div>
            <table class="table_2">
              <tr>
                <td class="table_2on">本日の会議室一覧</td>
                <td class="table_2off">フロア情報（4階・5階）</td>
                <td class="table_2off">フロア情報（地下）</td>
              </tr>
            </table>
          </div>
        </section>
        <% } %>

          <!-- ◆　4階、5階　-->
          <section class="swiper-slide">
            <div class="waku">
              <table>
                <tr>
                  <td>
                    <img src="/static/images/meeting.png" width="43" height="43" alt="meeting" />
                  </td>
                  <td width="380px">
                    <span class="title_1">フロア情報(4階・5階)</span><br />
                    <span class="title_2">Floor Information（4F/5F)</span>
                  </td>
                  <td class="day_waku">
                    <span id="clock_a"></span>
                    2021/02/11 11:57
                  </td>
                </tr>
              </table>
              <div>&nbsp;</div>
              <div class="waku_1">
                <div class="waku_4">
                  <div class="item_4">4F</div>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="room_no">401</td>
                      <td class="reserve_time">
                        <%= floor.room401.nm_user %>
                      </td>
                    </tr>
                    <tr>
                      <td class="reserve_user" colspan="2">
                        <%= floor.room401.time %>
                      </td>
                    </tr>
                  </table>
                  <div>&nbsp;</div>
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="room_no">402</td>
                      <td class="reserve_time">
                        <%= floor.room402.nm_user %>
                      </td>
                    </tr>
                    <tr>
                      <td class="reserve_user" colspan="2">
                        <%= floor.room402.time %>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="waku_5">
                  <div class="item_4">5F</div>
                  <div style="float: left; margin-right: 20px">
                    <div class="sp_waku">&nbsp;</div>
                    <div>&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">504</td>
                        <td class="reserve_time">
                          <%= floor.room504.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room504.time %>
                        </td>
                      </tr>
                    </table>
                    <div>&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">505</td>
                        <td class="reserve_time">
                          <%= floor.room505.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room505.time %>
                        </td>
                      </tr>
                    </table>
                    <div>&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">506</td>
                        <td class="reserve_time">
                          <%= floor.room506.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room506.time %>
                        </td>
                      </tr>
                    </table>
                    <div>
                      <img src="/static/images/monitor.png" width="41" height="24" alt="モニター" />
                    </div>
                  </div>
                  <div style="float: left">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">500</td>
                        <td class="reserve_time">
                          <%= floor.room500.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room500.time %>
                        </td>
                      </tr>
                    </table>
                    <div>&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">501</td>
                        <td class="reserve_time">
                          <%= floor.room501.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room501.time %>
                        </td>
                      </tr>
                    </table>
                    <div>&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">502</td>
                        <td class="reserve_time">
                          <%= floor.room502.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room502.time %>
                        </td>
                      </tr>
                    </table>
                    <div>&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">503</td>
                        <td class="reserve_time">
                          <%= floor.room503.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room503.time %>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <table class="table_2">
                <tr>
                  <td class="table_2off">本日の会議室一覧</td>
                  <td class="table_2on">フロア情報（4階・5階）</td>
                  <td class="table_2off">フロア情報（地下）</td>
                </tr>
              </table>
            </div>
          </section>

          <!-- ◆地下　-->
          <section class="swiper-slide">
            <div class="waku">
              <table>
                <tr>
                  <td>
                    <img src="/static/images/meeting.png" width="43" height="43" alt="meeting" />
                  </td>
                  <td width="380px">
                    <span class="title_1">フロア情報(地下)</span><br />
                    <span class="title_2">Floor Information（B1F)</span>
                  </td>
                  <td class="day_waku">
                    <span id="clock"></span>
                    2021/02/11 17:52
                  </td>
                </tr>
              </table>
              <div>&nbsp;</div>
              <div class="waku_1">

                <div class="waku_7">
                  <div class="item_5">プロジェクトルーム</div>
                  <div style="float: left; margin-right: 20px">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no_prj">012</td>
                        <td class="reserve_time_prj">
                          <%= floor.room012.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user_prj" colspan="2">
                          <%= floor.room012.time %>
                        </td>
                      </tr>
                    </table>
                    <div class="upd_prj">&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no_prj">015</td>
                        <td class="reserve_time_prj">
                          <%= floor.room015.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user_prj" colspan="2">
                          <%= floor.room015.time %>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div style="float: left; margin-right: 20px">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no_prj">011</td>
                        <td class="reserve_time_prj">
                          <%= floor.room011.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user_prj" colspan="2">
                          <%= floor.room011.time %>
                        </td>
                      </tr>
                    </table>
                    <div class="upd_prj">&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no_prj">014</td>
                        <td class="reserve_time_prj">
                          <%= floor.room014.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user_prj" colspan="2">
                          <%= floor.room014.time %>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div style="float: left; margin-top: 79px; margin-right: 5px">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no_prj">013</td>
                        <td class="reserve_time_prj">
                          <%= floor.room013.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user_prj" colspan="2">
                          <%= floor.room013.time %>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

                <div class="waku_6">
                  <div class="item_4">地下</div>
                  <div style="float: left; margin-right: 30px">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">003</td>
                        <td class="reserve_time">
                          <%= floor.room003.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room003.time %>
                        </td>
                      </tr>
                    </table>
                    <div class="upd">&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">004</td>
                        <td class="reserve_time">
                          <%= floor.room004.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room004.time %>
                        </td>
                      </tr>
                    </table>
                    <div class="upd">&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">005</td>
                        <td class="reserve_time">
                          <%= floor.room005.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room005.time %>
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div style="float: left; margin-right: 25px">
                    <div class="sp_waku">&nbsp;</div>
                    <div class="upd">&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">ﾌﾟﾚｾﾞﾝ</td>
                        <td class="reserve_time">
                          <%= floor.roomprezen.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.roomprezen.time %>
                        </td>
                      </tr>
                    </table>
                    <div align="left">
                      <img src="/static/images/monitor.png" width="41" height="24" alt="モニター" />
                    </div>
                  </div>

                  <div style="float: left; margin-right: 5px">
                    <div class="sp_waku">&nbsp;</div>
                    <div class="upd">&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">002</td>
                        <td class="reserve_time">
                          <%= floor.room002.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room002.time %>
                        </td>
                      </tr>
                    </table>
                    <div class="upd">&nbsp;</div>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td class="room_no">001</td>
                        <td class="reserve_time">
                          <%= floor.room001.nm_user %>
                        </td>
                      </tr>
                      <tr>
                        <td class="reserve_user" colspan="2">
                          <%= floor.room001.time %>
                        </td>
                      </tr>
                    </table>
                  </div>

                </div>
              </div>
              <table class="table_3">
                <tr>
                  <td class="table_2off">本日の会議室一覧</td>
                  <td class="table_2off">フロア情報（4階・5階）</td>
                  <td class="table_2on">フロア情報（地下）</td>
                </tr>
              </table>
            </div>
          </section>

          <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
          <script>
            let mySwiper = undefined;
            const winW = window.innerWidth;
            const swiperElement = document.getElementsByClassName(
              "swiper-container"
            )[0];
            const swiperWrapper = document.getElementsByClassName("swiper-wrapper");
            const swiperSlide = document.getElementsByClassName("swiper-slide");
            const options = {
              autoplay: {
                delay: 15000,
              },
              loop: true, // 最後のスライドまで到達した場合、最初に戻らずに続けてスライド可能にするか。
              speed: 1500, // スライドが切り替わるトランジション時間(ミリ秒)。
              slidesPerView: 1, // 何枚のスライドを表示するか
              spaceBetween: 0, // スライド間の余白サイズ(ピクセル)
              direction: "horizontal", // スライド方向。 'horizontal'(水平) か 'vertical'(垂直)。effectオプションが 'slide' 以外は無効。
              effect: "flip", // "slide", "fade"(フェード), "cube"(キューブ回転), "coverflow"(カバーフロー) または "flip"(平面回転)
              // mousewheel: {
              //   invert: false,
              // },
            };
            function initSwiper() {
              if (swiperElement) {
                // const screenWidth = window.innerWidth;
                // if (screenWidth > 768 && mySwiper == undefined) {
                  mySwiper = new Swiper(".swiper-container", options);
                // } else if (screenWidth < 767 && mySwiper != undefined) {
                //   mySwiper.destroy();
                //   mySwiper = undefined;
                //   for (var i = 0; i < swiperWrapper.length; i++) {
                //     swiperWrapper[i].removeAttribute("style");
                //   }
                //   for (var i = 0; i < swiperSlide.length; i++) {
                //     swiperSlide[i].removeAttribute("style");
                //   }
                // }
              }
            }
            function swiperclick(num) {
              if (mySwiper != undefined) {
                mySwiper.slideTo(num);
              }
            }
            initSwiper();
            // window.addEventListener("resize", initSwiper);
            // let dispgrouNo = 0;
      // const initrows = document.getElementsByTagName("tr");
      // for (let i = 15; i < initrows.length - 1; i++) {
      //   initrows[i].style.visibility = "collapse";
      // }
      // const changeGroup = () => {
      //   const hiddens = document.getElementsByClassName(dispgrouNo);
      //   for (let i = 0; i < hiddens.length; i++) {
      //     hiddens[i].style.visibility = "collapse";
      //   }
      //   const disps = document.getElementsByClassName(dispgrouNo + 1);
      //   for (let i = 0; i < disps.length; i++) {
      //     disps[i].style.visibility = "visible";
      //   }
      //   dispgrouNo += 1;
      // };

      // const timer = setInterval(changeGroup, 15000);
          </script>
</body>

</html>